<section class="splash row">    
    <div class="col-xs-12 col-lg-4 col-lg-offset-4">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Edit Target</h3>
            </div>

            <%= render 'form', target: @target %>

            <%= link_to 'Show', @target %> |
            <%= link_to 'Back', targets_path %>

        </div>
    </div>
</section>
