<section class="splash row">
    <h1 class="text-primary text-center col-xs-12">SOMA<br><small>Social Media Analisys</small></h1>
    <div class="col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-4 mt-5">
      <div class="card-block">
        <%= form_tag("/load_tweets", method: "get", class: "mt-4 discover") do %>
          <h2 class="card-title text-cente">Discover twitter activity</h2>
          <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2">@</span>
            <%= text_field_tag :user, "", class: "form-control", placeholder: "username" %>
          </div>
          <%= submit_tag("Search", class: "btn btn-block btn-primary mt-4")  %>
        <% end %>
      </div>
    </div>
    <div class="footer col-xs-12">
        <div class="col-xs-12 col-md-4 mt-5">
            <div class="media">
              <div class="media-left media-middle">
                <span class="glyphicon glyphicon-signal"></span>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Metrics</h4>
                <p>Quickly reach metrics about any public twitter account.</p>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 mt-5">
            <div class="media">
              <div class="media-left media-middle">
                <span class="glyphicon glyphicon-camera"></span>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Content</h4>
                <p>Discover what types of content generates a bigger number of reactions.</p>
              </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 mt-5">
            <div class="media">
              <div class="media-left media-middle">
                <span class="glyphicon glyphicon-heart-empty"></span>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Feelings</h4>
                <p>With feelings analisys integrated, language content is categorized into positive, negative or neutral.</p>
              </div>
            </div>
        </div>
    </div>
    
</section>