// Place all the styles related to the listing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.twitter-profile .thumbnail {
  
}

.twitter-profile-image {
  float: left;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.user-mentions-tweets-wrapper {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.graphicsOutput {
    background: white !important;
}
